.formContainer-login {
	font-size:250%;
	visibility:visible;
	padding:0px;border-color:black;border-width:2px;
	border-style:solid;z-index:100;position:absolute;
	left:;
	top:25%;
	width:max-content;
	height:max-content;
	background-color:rgba(150, 150, 150, 0.75);
	color:rgb(33, 40, 29);
	border-radius:10px;

}

.frameCaption-login {

	padding:0px;
	background-color:aquamarine;
	border-width:0px;
	border-style:solid;
	/*osition:absolute; */
	color :black;
	left:0;top:0;
	/*width:100%;*/
	padding-left:0.5em;
	height:1.5em;
	line-height:1.5em;
	/*display:inline-table;*/


    border-style: ridge;
    border-width: 5;
    border-color: #9c9b9b;
    border-radius: 10px;
}

.frameContent-login {
	margin:5px;
	padding:0.5em;
}

.textInputOption-login {
	font-size:100%;
}

    	.button-login{
			font-size:100%;
			border-radius:10px;
			background:linear-gradient(rgb(76, 139, 176), #8be2de,rgb(76, 148, 176) );
			padding:0px;
			border-style:outset;
			padding-right:2px;
			padding-bottom:2px;
			float:right;
		}

    	.pressed-login{
			border-style:inset;
			padding-left:2px;
			padding-top:2px;
			padding-right:0px;
			padding-bottom:0px;
		}

	.button-login:hover {
			border-color:#0dd;
	}

    	.buttonInner-login{
			border-radius:10px;
				background:lightgray;
				padding-left:10px;
				padding-right:10px;
				margin:5px;
				margin-left:25px;
				margin-right:25px;
				border-style:inset;
				color:black;
				font-weight:bold;
		}




.formContainer-lobby {
	min-width:80%;
	font-size:250%;
	visibility:visible;
	padding:0px;border-color:black;border-width:2px;
	border-style:solid;z-index:100;position:absolute;
	left:;
	top:25%;
	width:max-content;
	height:max-content;
	background-color:rgba(150, 150, 150, 0.75);
	color:rgb(33, 40, 29);
	border-radius:10px;

}

.frameCaption-lobby {

	padding:0px;
	background-color:aquamarine;
	border-width:0px;
	border-style:solid;
	/*osition:absolute; */
	color :black;
	left:0;top:0;
	/*width:100%;*/
	padding-left:0.5em;
	height:1.5em;
	line-height:1.5em;
	/*display:inline-table;*/


    border-style: ridge;
    border-width: 5;
    border-color: #9c9b9b;
    border-radius: 10px;
}

.frameContent-lobby {
	margin:5px;
	padding:0.5em;
}

.textInputOption-lobby {
	font-size:100%;
}

    	.button-lobby{
			font-size:100%;
			border-radius:10px;
			background:linear-gradient(rgb(76, 139, 176), #8be2de,rgb(76, 148, 176) );
			padding:0px;
			border-style:outset;
			padding-right:2px;
			padding-bottom:2px;
			float:right;
		}

    	.pressed-lobby{
			border-style:inset;
			padding-left:2px;
			padding-top:2px;
			padding-right:0px;
			padding-bottom:0px;
		}

	.button-lobby:hover {
			border-color:#dd0;
	}

    	.buttonInner-lobby{
			border-radius:10px;
				background:lightgray;
				padding-left:10px;
				padding-right:10px;
				margin:5px;
				margin-left:25px;
				margin-right:25px;
				border-style:inset;
				color:black;
				font-weight:bold;
		}

.lobby-game-list {
	display:inline-block;
	border-radius:10px;
	border:black solid 3px;
	min-width:45%;
}

.lobby-user-list {
	display:inline-block;
	border-radius:10px;
	/*float:right;*/
	border:black solid 3px;
	width:45%;
}


.popupInputField {
	font-size:110%;
}
.popupCancel {
	font-size:110%;
	width:unset;
}
.popupOkay {
	font-size:110%;
	width:unset;
}
.frameForm {
	font-size:250%;
}


.game-player-list {
	font-size:300%;
	min-width:50%;
}

[class^="stock-buy"] {
	font-size:125%;
	text-align:center;
	color:white;
}

.formContainer-buy {
	background:#799;
}

[class^="stock-buy-button"] {
			font-size:100%;
			border-radius:10px;
			background:linear-gradient(rgb(118 131 92), #e2d38b,rgb(88 102 59) );
			padding:0px;
			height:3em;
			min-width:4em;
			display:inline-block;
			border-style:outset;
			padding-right:2px;
			padding-bottom:2px;
}

[class^="stock-buy-inner-button"] {
	border-radius:10px;
	background:darkgreen;
	text-align:center;
	margin:5px;
	height:75%;
	line-height:175%;
	margin-left:0.25em;
	margin-right:0.25em;
	border-style:ridge;
	color:white;
}

[class^="stock-buy-inner-button-disable"] {
	background: darkred;
}

[class^="stock-buy-inner-button-enable"] {
	background: darkgreen;
}




